# Google Cloud Project Settings
# Leave PROJECT_ID blank to automatically use the active `gcloud config` project
PROJECT_ID="your-gcp-project-id"

# Region for Artifact Registry, Secret Manager, Cloud Build, and Cloud Run
REGION="us-central1"

# The name of the Cloud Run service and associated GCP resources
SERVICE_NAME="neo4j-poc"

# The initial admin password for Neo4j (will be saved securely to Secret Manager)
# Only required for the FIRST deployment. Afterwards, the script skips recreating it.
DB_PASSWORD="YourSuperSecurePassword123!"
